.messages-layout {
    height: calc(100% - (2 * 5px));
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  
}
.messages {
        list-style-type: none;
        padding: 0;
        display: flex;
        flex-direction: column;
        padding: 0 10px;
}
        .message {
            max-width: 50%;
            width: max-content;
            padding: 10px;
 }
.message_outcoming {
                background-color: #EAEAEA;
                border-radius: 10px 10px 10px 0;
                align-self: flex-start;
}

.message_incoming {
                background-color:  #E4EDFD;
                border-radius: 10px 10px 0 10px;
                align-self: flex-end;
 }
