    {{!-- <img src="{{{imageSrc}}}" alt="avatar"> --}}
       <form class="form">
        <h1 class='login-title'>{{title}}</h1>
        <label class="label-text" for="oldPassword"> 
            Старый пароль
         {{> input name="old_password" placeholder="Старый пароль" type="password" }} 
        </label>
        <label class="label-text" for="newPassword">
            Новый пароль
            {{> input name="password" placeholder="Новый пароль" type="password" }}
        </label>
        <label class="label-text" for="passwordConfirm">
            Повторите новый пароль
             {{> input name="repeat_password" placeholder="Повторите новый пароль" type="password" }}
        </label>
                     
        
    </div>
    <div class='button-wrapper'>
    {{> button }}
    </div>
    </form>