<head>
<title>Авторизация</title>
<link rel="stylesheet" href="./logout.scss">

</head>

<main>
<div class="container">
  <div class="form-wrapper">
    <form class="validate-form">
      <input class="val-input" type="text" name="login">
      <input class="val-input" type="text" name="password">
      <div class="button-wrapper">
        {{!-- {{> button name="Enter" textlink="./../Chats/chats.hbs"}} --}}
        {{!-- {{> button name="Registration" textlink="./../Registry/registry.hbs"}} --}}
      </div>
    </form>
  </div>
</div>
</main>