.button-primary {
  padding: 14px 40px;
  border-radius: 7px;
  background-color: var(--blue-color);
  border: 0;
  font-size: 16px;
  color: var(--white-color);
}

.button-primary:active {
  opacity: 0.75;
}
