.text {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  padding: 0;
  margin: 0;
  border: none;
  color: var(--white-color);
  text-align: right;
}

.text-wrapper {
  display: flex;
  align-items: center;
}
