.messages-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px;
  margin-left: 14px;
}
.messages-footer__input {
  box-sizing: border-box;
  width: 90%;
  height: 32px;
  border: none;
  border-radius: 5px;
  color: grey;
  background-color: #efefef;
  font-size: 16px;
  padding: 5px;
  display: flex;
  flex-direction: column;
}

.input-flex {
  padding: 0;
  width: 100%;
  border: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
  outline: none;
  margin-bottom: 100px;
}

.messages-footer__attache-files,
.messages-footer__send-message {
  border: none;
  background-color: transparent;
}
.messages-footer__send-message-icon,
.messages-footer__attache-files-icon {
  display: flex;
  flex-direction: column;
  width: 26px;
  height: 18px;
}
