.wrapper__chats {
  display: flex;
  gap: 5px;
  width: 100%;
}
.container__messages {
  width: 30%;
  overflow: auto;
  height: 100%;
}

.wrapper__main {
  flex: 1;
  overflow: auto;
  height: 100%;
}
.main__theme {
  border: 1px solid #eaeaea;
  border-radius: 5px;
}
